<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>

<body>
    <header>
        <h1>LAYOUT PAGE FOR ANGU</h1>
        <hr />
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div>
            <hr />
            <b>Page Footer Here!</b>
        </div>
    </footer>
</body>
</html>