<div class="menuWrap">
    <ul class="menuList">
        <li class="menuListItem jobs">
            <a href="/" class="menuItemLink">Home</a>
        </li>

        <li class="menuListItem jobs">
            <a href="/Home/CodeOfConduct" class="menuItemLink">Code of Conduct</a>
        </li>

      
    </ul>
</div>
