<div class="menuWrap">
    <ul class="menuList">
        <li class="menuListItem jobs">
            <a href="/" class="menuItemLink">Home</a>
        </li>

        <li class="menuListItem jobs">
            <a href="/Speaker/" class="menuItemLink">Speakers</a>
        </li>

        <li class="menuListItem jobs">
            <a href="/Session/" class="menuItemLink">Sessions</a>
        </li>
    </ul>
</div>