@{
    ViewBag.Title = "Code Stars Summit";
    Layout = "~/Views/CSSC/Shared/_Layout.cshtml";
}





    <div id="home" class="container nav--section">
        
        <div class="content">
          

            <section class="stripe">
                <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>

                <h4>Need Help?</h4>

                <p>You have our contact details in the emails we've sent.</p>



                <h4>The Details</h4>

                <p>Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

                <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

                <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

                <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can found at the registration desk.</p>

                <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

                <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>

                <p>
                    <small>
                        <em>
                            Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a>

                            <br />Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a>

                            <br />This work is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>
                        </em>
                    </small>
                </p>
            </section>


        </div>
    </div>



